# 1. íŠœí”Œ(Tuple)

* íŠœí”Œì€ ë¦¬ìŠ¤íŠ¸ì™€ ë¹„ìŠ·í•˜ì§€ë§Œ ë¦¬ìŠ¤íŠ¸ëŠ” [ ]ë¡œ ìë£Œë¥¼ ê°ì‹¸ê³ , íŠœí”Œì€ ( )ë¡œ ê°ìŒˆ
* íŠœí”Œì€ ìˆ˜ì •, ì‚­ì œê°€ ë¶ˆê°€ëŠ¥

In [ ]:
tu1 = () # ë¹ˆ íŠœí”Œ
print(tu1)

# tu1[0] = 10 # 'tuple' object does not support item assignment, íŠœí”Œì€ ìˆ˜ì •ì´ ë¶ˆê°€ëŠ¥

tu2 = (1)
print(tu2)

tu3 = 1, 2, 3 # ()ë¥¼ ìƒëµí•´ë„ ë¨
print(tu3)

tu4 = ('apple', 'banana', ('ğŸ˜', 'ğŸ¥°')) # 2ì°¨ì› ë°ì´í„°ëŠ” ()ë¥¼ ë”í•´ ì¶œë ¥í•˜ë©´ ë¨
print(tu4)

()
1
(1, 2, 3)
('apple', 'banana', ('ğŸ˜', 'ğŸ¥°'))

In [ ]:
print(type(tu4)) # <class 'tuple'>

<class 'tuple'>

# **2. íŠœí”Œì˜ ìˆ˜ì • ë° ì‚­ì œ**

In [ ]:
tu5 = (1, 2, 'apple', 'banana')
print(tu5)

print(tu5[3])
# tu5[3] = 'orange', 'tuple' object does not support item assignment
# del tu5[3], 'tuple' object doesn't support item deletion
del tu5
# print(tu5), ë‚´ë¶€ì˜ ìš”ì†ŒëŠ” ìˆ˜ì •í•˜ê±°ë‚˜ ì‚­ì œë¥¼ ëª»í•˜ì§€ë§Œ, íŠœí”Œ ìì²´ëŠ” ì§€ìš¸ ìˆ˜ ìˆë‹¤.

tu6 = (1, 2, 'apple', 'banana')
print(tu6)
tu6 = 10 # ìƒˆë¡œìš´ ê°’ì„ ë„£ëŠ” ê²ƒì´ë¯€ë¡œ ì´ ë•ŒëŠ” ì˜¤ë¥˜ê°€ ë°œìƒí•˜ì§€ ì•ŠìŒ.
print(tu6)

(1, 2, 'apple', 'banana')
banana
(1, 2, 'apple', 'banana')
10

# 3. íŠœí”Œì˜ ì¸ë±ì‹±, ìŠ¬ë¼ì´ì‹±, ì—°ì‚°

In [ ]:
# ì¸ë±ì‹±
tu7 = (1, 2, 'apple', 'banana')
print(tu7[0])
print(tu7[-1])

# ìŠ¬ë¼ì´ì‹±
print(tu7[1:])
print(tu7[1:3])

# ë§ì…ˆ(ì—°ê²°)
tu8 = (30, 40)
print(tu7 + tu8)

# ê³±ì…ˆ(ë°˜ë³µ)
print(tu8 * 3)

# ìš”ì†Œì˜ ê°¯ìˆ˜
print(len(tu8))

1
banana
(2, 'apple', 'banana')
(2, 'apple')
(1, 2, 'apple', 'banana', 30, 40)
(30, 40, 30, 40, 30, 40)
2