# 1. 대입 연산자

* =, +=, -=, *=, /=, %=
* 왼쪽에 저장된 값과 오른쪽의 값을 연산한 뒤에 다시 왼쪽에 대입

In [ ]:
num = 10
# num = num + 1
num += 1
print(num)
num -= 1
print(num)
num *= 10
print(num)
num /= 10
print(num)
num %= 2 # 2로 나눈 나머지 값
print(num)

11
10
100
10.0
0.0

# **2. while 문**

```
while 조건식:
  조건식이 True인 경우 반복할 문장
```

In [ ]:
i = 1
while i <= 5:
  print('Hello Python')
  i += 1

print('현재 i의 값 : {}'.format(i))

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
현재 i의 값 : 6

In [ ]:
# 1 ~ 10까지의 함
i = 1
sum = 0

while i <= 10:
  sum += i # sum = sum + i 
  # 0 + 1 = 1
  # 1 + 2 = 3
  # 3 + 3 = 6
  # 6 + 4 = 10
  # 10 + 5 = 15
  # 15 + 6 = 21
  # 21 + 7 = 28
  # 28 + 8 = 36
  # 36 + 9 = 45
  # 45 + 10 = 55
  i += 1

print('1부터 10까지 총합 : {}'.format(sum))

1부터 10까지 총합 : 55

### **문제**

원하는 단을 입력해서 구구단을 출력하는 프로그램을 작성해보자.

In [ ]:
dan = int(input('원하는 단을 입력하세요 '))
print('{} 단'.format(dan))

i = 1
while i <= 9:
  print('{} * {} = {}'.format(dan, i, dan * i))
  i += 1

원하는 단을 입력하세요 5
5 단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

# 3. for 문

```
for 변수 in range(범위):
  반복할 문장
```

In [ ]:
for i in range(0, 10, 1): # 0부터 10직전까지 1씩 증가
  print('🎃', end = ' ')

🎃 🎃 🎃 🎃 🎃 🎃 🎃 🎃 🎃 🎃

In [ ]:
for i in range(10): # 0부터 10직전까지 1씩 증가
  print('🎃', end = ' ')

🎃 🎃 🎃 🎃 🎃 🎃 🎃 🎃 🎃 🎃

In [ ]:
for i in range(0, 10): # 0부터 10직전까지 1씩 증가
  print('🎃', end = ' ')

🎃 🎃 🎃 🎃 🎃 🎃 🎃 🎃 🎃 🎃

### 문제

1 ~ 100까지 총합을 구하는 프로그램을 만들어보자.

In [ ]:
sum = 0
i = 1
for i in range(101):
  sum += i # sum = sum + i

print("1부터 100까지의 합은 : {0}".format(sum))

1부터 100까지의 합은 : 5050

### 3-1. list를 for문과 함께 사용

In [ ]:
li = ['apple', 'banana', 'orange', 'melon']

for i in li:
  print(i, end = ' ')

apple banana orange melon

### 3-2. tuple을 for문과 함께 사용

In [ ]:
tu = ('🍖', '🍟', '🍕', '🥞')
for i in tu:
  print(i, end = ' ')

🍖 🍟 🍕 🥞

### **문제**

score 리스트에 저장된 점수가 60점 이상인 학생이 몇명인지 알아보는 프로그램을 작성

* score = [90, 30, 50, 80, 70, 100, 40]

In [ ]:
score = [90, 30, 50, 80, 70, 100, 40]
count = 0

for i in score:
  if i >= 60:
    count += 1
print("60점 이상의 학생은 {0}명입니다.".format(count))

60점 이상의 학생은 4명입니다.

# **4. 다중 반복분**

* for 또는 while문이 2개이상 겹쳐있는 문장

In [ ]:
for num1 in range(1, 4):
  print('현재 num1 : {}'.format(num1))
  for num2 in range(1, 5):
    print('{}'.format('😚'))

현재 num1 : 1
😚
😚
😚
😚
현재 num1 : 2
😚
😚
😚
😚
현재 num1 : 3
😚
😚
😚
😚

'🎃' 이용하여 아래와 같은 도형을 만들어보자.

🎃 🎃 🎃 🎃 🎃  
🎃 🎃 🎃 🎃 🎃  
🎃 🎃 🎃 🎃 🎃  
🎃 🎃 🎃 🎃 🎃

In [ ]:
for i in range(5):
  for j in range(5):
    print('🎃', end = ' ')
  print()

🎃 🎃 🎃 🎃 🎃
🎃 🎃 🎃 🎃 🎃
🎃 🎃 🎃 🎃 🎃
🎃 🎃 🎃 🎃 🎃
🎃 🎃 🎃 🎃 🎃

### **문제**

'🎃' 이용하여 아래와 같은 도형을 만들어보자.

🎃 🎃 🎃 🎃 🎃  
🎃 🎃 🎃 🎃  
🎃 🎃 🎃  
🎃 🎃  
🎃

In [ ]:
for i in range(5):
  for j in range(i, 5):
    print('🎃', end = ' ')
  print()

🎃 🎃 🎃 🎃 🎃
🎃 🎃 🎃 🎃
🎃 🎃 🎃
🎃 🎃
🎃

2단부터 9단까지 구구단을 출력하는 프로그램을 만들어보자

In [ ]:
for i in range(2, 10):
  print('{} 단'.format(i))
  for j in range(1, 10):
    print('{} * {} = {}'.format(i, i, j, i*j))
  print()

2 단
2 * 2 = 1
2 * 2 = 2
2 * 2 = 3
2 * 2 = 4
2 * 2 = 5
2 * 2 = 6
2 * 2 = 7
2 * 2 = 8
2 * 2 = 9

3 단
3 * 3 = 1
3 * 3 = 2
3 * 3 = 3
3 * 3 = 4
3 * 3 = 5
3 * 3 = 6
3 * 3 = 7
3 * 3 = 8
3 * 3 = 9

4 단
4 * 4 = 1
4 * 4 = 2
4 * 4 = 3
4 * 4 = 4
4 * 4 = 5
4 * 4 = 6
4 * 4 = 7
4 * 4 = 8
4 * 4 = 9

5 단
5 * 5 = 1
5 * 5 = 2
5 * 5 = 3
5 * 5 = 4
5 * 5 = 5
5 * 5 = 6
5 * 5 = 7
5 * 5 = 8
5 * 5 = 9

6 단
6 * 6 = 1
6 * 6 = 2
6 * 6 = 3
6 * 6 = 4
6 * 6 = 5
6 * 6 = 6
6 * 6 = 7
6 * 6 = 8
6 * 6 = 9

7 단
7 * 7 = 1
7 * 7 = 2
7 * 7 = 3
7 * 7 = 4
7 * 7 = 5
7 * 7 = 6
7 * 7 = 7
7 * 7 = 8
7 * 7 = 9

8 단
8 * 8 = 1
8 * 8 = 2
8 * 8 = 3
8 * 8 = 4
8 * 8 = 5
8 * 8 = 6
8 * 8 = 7
8 * 8 = 8
8 * 8 = 9

9 단
9 * 9 = 1
9 * 9 = 2
9 * 9 = 3
9 * 9 = 4
9 * 9 = 5
9 * 9 = 6
9 * 9 = 7
9 * 9 = 8
9 * 9 = 9