# 1. 함수

* 반복적으로 사용되는 가치 있는 부분을 묶어서 하나의 집합으로 만듬
* 코드를 재활용하기 위한 목적

### **1-1. 이름만 있는 함수**
```
def 함수명():
  함수가 호출되면 실행할 문장
```

In [ ]:
def func1():
  print("Hello Python!")

In [ ]:
func1()
func1()
func1()

Hello Python!
Hello Python!
Hello Python!

In [ ]:
for i in range(5):
  func1()

Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!

### **1-2. 매개변수가 있는 함수**
```
def 함수명(매개변수1, 매개변수2 ...):
  함수가 호출되면 실행할 문장
```

In [ ]:
def func2(num):
  print("입력받은 숫자 : %d" % num)

In [ ]:
func2(10)
func2(20)
func2(30)

입력받은 숫자 : 10
입력받은 숫자 : 20
입력받은 숫자 : 30

In [ ]:
def func3(start, end):
  sum = 0
  for i in range(start, end + 1, 1):
    sum += i
  print(start, "부터", end, '까지의 합은', sum)

In [ ]:
func3(1, 10)
func3(1, 100)
func3(5, 15)

1 부터 10 까지의 합은 55
1 부터 100 까지의 합은 5050
5 부터 15 까지의 합은 110

### **1-3. 리턴값이 있는 함수**
```
def 함수명(매개변수1, 매개변수2 ...):
  함수가 호출되면 실행할 문장
  return 값
```

In [ ]:
def func4():
  return "🎁"

In [ ]:
print(func4())

🎁

In [ ]:
present = func4()
print(present)

🎁

In [ ]:
def func5(num1, num2):
  return num1 + num2

In [ ]:
print(func5(10, 5))

result = func5(20, 10)
print(result)

15
30

### **1-4. 디폴트 매개변수**
```
def 함수명(매개변수1 = 값1, 매개변수2 = 값2 ...):
  함수를 호출하면 실행할 문장
  return 값
```

In [ ]:
def func6(num1 = 0, num2 = 0):
  return num1 + num2

In [ ]:
print(func6(10, 5))
print(func6())
print(func6(10))

15
0
10

### **1-5. 매개변수의 갯수가 가변적인 함수**
```
def 함수명(*매개변수):
  함수가 호출되면 실행할 문장
  return 값
```
> 매개변수는 함수안에서 튜플형태로 사용

In [ ]:
def func7(*args):
  result = 0
  for i in args:
    result += i
  return result

In [ ]:
print(func7(10))
print(func7(10, 30, 20, 70, 50))
print(func7(5, 3, 8, 10, 13, 2, 4, 7, 9))

10
180
61

### **1-6. 매개변수를 딕셔너리 구조로 전달받는 함수**
```
def 함수명(**매개변수):
  함수가 호출되면 실행될 문장
  return 값
```

In [ ]:
def func8(**args):
  return args

In [ ]:
user = func8(userid = 'apple', name = '김사과', age = 20)
print(user)

{'userid': 'apple', 'name': '김사과', 'age': 20}

### **1-7. 리턴값이 여러개인 함수**
```
def 함수명(매개변수1, 매개변수2 ..):
  함수가 호출되면 실행될 문장
  return 값, 값
```

In [ ]:
def func9(num1, num2):
  return num1 + num2, num1 - num2, num1 * num2, num1 / num2

In [ ]:
result1, result2, result3, result4 = func9(10, 3)
print(result1, result2, result3, result4)

13 7 30 3.3333333333333335

### 문제

데이터 90, 80, 50, 100, 80을 매개변수로 전달해서 최대값, 최소값을 출력하는 함수를 만들어 활용해보자(단, return을 사용. 내장함수를 사용하지 않음)

In [ ]:
def maxmin(*args):
  max, min = args[0], args[0]
  for i in args:
    if max < i:
      max = i

    if min > i:
      min = i
  return max, min

In [ ]:
max, min = maxmin(90, 80, 50, 100, 80)
print("최대값 : ", max)
print("최솟값 : ", min)

최대값 :  100
최솟값 :  50

In [ ]:
max, min = maxmin(5, 9, 10, 14, 21, 3, 1, 6)
print("최대값 : ", max)
print("최솟값 : ", min)

최대값 :  21
최솟값 :  1