# **1. 람다 함수**

* 단일문으로 표현되는 익명함수
* 익명함수란 이름이 없는 구현체만 존재하는 간단한 함수를 의미
* 코드상에서 한 번만 사용되는 기능이 있을 때, 굳이 함수로 만들지 않고 일회성으로 만들어 사용할 때

In [ ]:
def square1(x):
  return x ** 2

print(square1(10))

100

In [ ]:
square2 = lambda x: x** 2

print(square2(5))

25

In [ ]:
def add1(x, y):
  return x + y

result = add1(10, 5)
print(result)

15

In [ ]:
add2 = lambda x, y: x + y

print(add2(5, 10))

15

In [ ]:
strings = ['aaaa', 'bbb', 'cc', 'ddddddd']
strings.sort(key = lambda s : len(s))
print(strings)

['cc', 'bbb', 'aaaa', 'ddddddd']

# **2. filter**

* 람다가 유용하게 사용되는 대표적인 함수
* 특정 조건을 만족하는 요소만 남기고 필터링

In [ ]:
def even(n):
  return n % 2 == 0

print(even(3))
print(even(100))

False
True

In [ ]:
nums = [1, 2, 3, 6, 9, 10, 14, 15, 18, 20]
print(list(filter(lambda n: n % 2 == 0, nums)))

[2, 6, 10, 14, 18, 20]

# **3. map**

* 함수형 프로그래밍의 기본 요소
* 각 원소를 주어진 수식에 따라 변형하여 새로운 리스트를 반환

In [ ]:
nums = [1, 2, 3, 6, 9, 10, 14, 15, 18, 20]
print(list(map(lambda n: n**2, nums)))

[1, 4, 9, 36, 81, 100, 196, 225, 324, 400]

In [ ]:
nums = [1, 2, 3, 6, 9, 10, 14, 15, 18, 20]
print(list(filter(lambda n: n % 2 == 0, map(lambda n: n**2, nums))))

[4, 36, 100, 196, 324, 400]