# **1. 오류처리**

* 오류가 발생되었을 때 별도의 처리를 하거나 무시하고 프로그램을 실행하는 것
* 오류가 발생될 것으로 예상되는 문장을 tyr 블록에 코딩하고 try 블록에 코딩된 내용을 실행하다가 오류가 발생되면 더 이상 try 블록의 내용을 실행하지 않고 해당 오류의 except 블록에 코딩된 내용을 싱행
```
try:
  오류가 발생될 것으로 예상되는 문장
  ...
  ...
except [오류이름1:]:
  오류가 발생되면 실행할 문장
  ...
except [오류이름2:]
  오류가 발생되면 실행할 문장
  ...
finally:
  오류 발생 여부와 관계없이 무조건 실행해야할 문장
  ...
```
* [ ]안의 오류 이름은 생략할 수 있음
* finally는 선택사항

In [ ]:
try:
  print(10 / 2)
  # ZeroDivisionError
  print(5 / 0) # 오류가 발생되면 오류가 발생된 문장부터 나머지 문장을 실행하지 않고 except 이동
  print(4 / 2) # 오류가 발생되면 이 문장은 실행되지 않음
except:
  print('오류가 발생했습니다.')

print('실행완료')

5.0
오류가 발생했습니다.
실행완료

In [ ]:
print(10 / 2)
print(5 / 0)

5.0

ZeroDivisionError: ignored

In [ ]:
data = [10, 20, 30]
try:
  print(data[2])
  # IndexError
  print(data[3]) # 오류가 발생되면 오류가 발생된 문장부터 나머지 문장을 실행하지 않고 except 이동
  print(4/4)

except:
  print('오류가 발생했습니다.')

print('실행완료')

30
오류가 발생했습니다.
실행완료

In [ ]:
data = [10, 20, 30]
print(data[2])
print(data[3])

30

IndexError: ignored

In [ ]:
data = [10, 20, 30]
string = "오늘 파이썬 문법 종강입니다! 야호!"
try:
  # print(4/0)
  # print(data[3])
  print(string)
  print('%d' % string)
except ZeroDivisionError:
  print('나눗셈은 0으로 할 수 없습니다')
except IndexError:
  print('리스트의 인덱스 지정이 올바르지 않습니다')
except:
  print('데이터 타입이 올바르지 않습니다')
finally:
  print('오류가 발생하거나 발생하지 않아도 무조건 실행할 문장이 있다면 여기에 삽입!')

print('dddd')

오늘 파이썬 문법 종강입니다! 야호!
데이터 타입이 올바르지 않습니다
오류가 발생하거나 발생하지 않아도 무조건 실행할 문장이 있다면 여기에 삽입!

In [ ]:
data = ['010', '1', '10', '111', '50'] # 앞글자의 크기부터 정렬(문자열인 경우는 아스키코드 비교)
data.sort()
print(data)
data.sort(reverse=True)
print(data)

['010', '1', '10', '111', '50']
['50', '111', '10', '1', '010']

In [ ]:
data = [101, 1, 10, 111, 50] # 숫자 비교
data.sort()
print(data)
data.sort(reverse=True)
print(data)

[1, 10, 50, 101, 111]
[111, 101, 50, 10, 1]

In [ ]:
data = ['010', 1, '10', 111, '50']
data.sort()
print(data)
data.sort(reverse=True)
print(data)

TypeError: ignored

In [ ]:
# 숫자와 문자를 섞어 입력하면 숫자 + 문자 형식의 오름차순으로 정렬하여 출력
# 정렬할 데이터를 입력하세요(999가 입력되면 정렬을 시작합니다) : abc
# 정렬할 데이터를 입력하세요(999가 입력되면 정렬을 시작합니다) : 123
# 정렬할 데이터를 입력하세요(999가 입력되면 정렬을 시작합니다) : bbb
# 정렬할 데이터를 입력하세요(999가 입력되면 정렬을 시작합니다) : 1
# 정렬할 데이터를 입력하세요(999가 입력되면 정렬을 시작합니다) : 999
# [1, 123, 'abc', 'bbb']


number = []
alpha = []

while True:
  var = input('정렬할 데이터를 입력하세요(999가 입력되면 정렬을 시작합니다) : ')
  if var == '999':
    break
  try:
    number.append(int(var))
  except:
    alpha.append(var)

number.sort()
alpha.sort()
print(number + alpha)

# [1, 123, 'abc', 'bbb']

정렬할 데이터를 입력하세요(999가 입력되면 정렬을 시작합니다) : abc
정렬할 데이터를 입력하세요(999가 입력되면 정렬을 시작합니다) : 123
정렬할 데이터를 입력하세요(999가 입력되면 정렬을 시작합니다) : bbb
정렬할 데이터를 입력하세요(999가 입력되면 정렬을 시작합니다) : 1
정렬할 데이터를 입력하세요(999가 입력되면 정렬을 시작합니다) : 999
[1, 123, 'abc', 'bbb']