# 1. 변수란?

* 변수는 처리할 데이터를 저장시키는 기억장소

In [ ]:
name = '김사과'
age = 20
print(name )
print(age)

name = '반하나'
print(name)

김사과
20
반하나

# 2. 변수의 이름을 작성하는 방법

1. 영문자, 숫자, 특수문자(_)로 사용하며 대소문자를 구별
2. 반드시 문자로 시작해야하고 예약어는 사용할 수 없음

In [ ]:
num1 = 10
num2 = 3
print('%d / %d = %f' % (num1, num2, num1 / num2))

10 / 3 = 3.333333

# 3. 변수의 데이터 타입

* 데이터 타입(자료형) : 자료가 저장되는 형태를 의미

In [ ]:
name = '김사과'
age = 20
weight = 50.5
isLover = False

# type() : 변수의 데이터타입을 반환해주는 함수
print(type(name)) # <class 'str'> 문자형 타입
print(type(age)) # <class 'int'> 정수형 타입
print(type(weight)) # <class 'float'> 실수형 타입
print(type(isLover)) # <class 'bool'> 논리형 타입

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
# 필요없는 변수를 삭제하는 방법
del age

In [ ]:
print(age)

NameError: ignored