# **1. 리스트(List)**

* 여러가지 데이터를 ,(콤마)로 구분하여 [  ]감싼 자료구조

In [ ]:
li1 = [1, 3, 5, 7]
print(li1)

li2 = list([1, 3, 5])
print(li2)

li3 = ['Python', 'C++', 'JavaScript', 'Java']
print(li3)

li4 = [1, 1.5, 'Python', True] # 타입이 다른 데이터를 포함
print(li4)

li5 = [1, 2, 'Python', ['apple', 'banana']] # 리스트 안에 리스트를 포함
print(li5)

[1, 3, 5, 7]
[1, 3, 5]
['Python', 'C++', 'JavaScript', 'Java']
[1, 1.5, 'Python', True]
[1, 2, 'Python', ['apple', 'banana']]

# 2. 리스트 인덱싱

In [ ]:
li1 = [1, 3, 5, 7]
print(li1[0])
print(li1[1])
print(li1[-1])
print(li1[0] + li1[2])

1
3
7
6

In [ ]:
li2 = [1, 3, 4, ['😎', '😊', '😍']]
print(li2[0])
print(li2[-1])
print(li2[-1][1])

1
['😎', '😊', '😍']
😊

In [ ]:
li3 = [1, 3, 5, ['apple', 'banana', ['🎄', '🎃']]]
print(li3[2])
print(li3[-2])
print(li3[-1])
print(li3[-1][-2])
print(li3[-1][-1][-1])

5
5
['apple', 'banana', ['🎄', '🎃']]
banana
🎃

# 3. 리스트 슬라이싱

In [ ]:
li4 = [10, 20, 30, 40, 50]
print(li4)
print(li4[0:3])
print(type(li4))

li5 = li4
print(li5)
li5[0] = 100
print(li5)
print(li4)

li6 = [10, 20, 30, ['apple', 'banana', 'orange'], 40, ['🎁', '👍']]
print(li6[2:6])
print(li6[5][:1])

[10, 20, 30, 40, 50]
[10, 20, 30]
<class 'list'>
[10, 20, 30, 40, 50]
[100, 20, 30, 40, 50]
[100, 20, 30, 40, 50]
[30, ['apple', 'banana', 'orange'], 40, ['🎁', '👍']]
['🎁']

# 4. 리스트 연산자

In [ ]:
li7 = [10, 20, 30]
li8 = [40, 50, 60]

print(li7 + li8) # [10, 20, 30, 40, 50, 60]
print(li8 + li7) # [40, 50, 60, 10, 20, 30]
print(li7*3) # [10, 20, 30, 10, 20, 30, 10, 20, 30]
print('🎃' * 30)

li9 = [10, 20, 30]
# print(li9[0] + '🎄') # unsupported operand type(s) for +: 'int' and 'str'
li9[1] = '🎈'
print(li9)
print('10' + '👍')

[10, 20, 30, 40, 50, 60]
[40, 50, 60, 10, 20, 30]
[10, 20, 30, 10, 20, 30, 10, 20, 30]
🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃🎃
[10, '🎈', 30]
10👍

# **5. 리스트의 수정 / 삭제**

In [ ]:
li10 = [10, 20, 30]
li10[1] = 100
print(li10)

li10[1:2] = ['🍕','🍔','🍟']
print(li10)

li10 = [10, 20, 30]
li10[1] = ['🍕','🍔','🍟']
print(li10)

print(li10[0:3])
li10[1:3] = []
print(li10)

del li10[0]
print(li10)

[10, 100, 30]
[10, '🍕', '🍔', '🍟', 30]
[10, ['🍕', '🍔', '🍟'], 30]
[10, ['🍕', '🍔', '🍟'], 30]
[10]
[]

# **6. 리스트 함수**

In [ ]:
li11 = [10, 20, 30]

# append() : 리스트에 데이터를 추가
li11.append(100)
print(li11)

li11.append([40, 50])
print(li11)

[10, 20, 30, 100]
[10, 20, 30, 100, [40, 50]]

In [ ]:
li12 = [10, 20, 30, 40, 50]
# pop() : 리스트에 마지막에 저장된 데이터를 반환하고 해당 데이터를 삭제
print(12)
# print(li12.pop())
temp = li12.pop()
print(temp)
print(li12)

12
[10, 20, 30, 40]

In [ ]:
li13 = [10, 20, 30, 10, 20, 80]

# remove() : 매개변수로 전달된 데이터를 제거, 처음 출현하는 데이터를 제거
li13.remove(20)
print(li13)

li13.remove(20)
print(li13)

[10, 30, 10, 20, 80]
[10, 30, 10, 80]

In [ ]:
li14 = [10, 20, 30]

# insert() : 리스트의 특정 위치에 데이터를 삽입
li14.insert(1, 100) # 1번 자리에 데이터 100을 삽입
print(li14)

[10, 100, 20, 30]

In [ ]:
li15 = [10, 20, 30, 40, 50]

# index() : 리스트에 저장된 데이터가 있을 경우 위치를 반환(없으면 에러)
print(li15.index(30))
# print(li15.index(100)) # 100 is no in list

In [ ]:
li16 = ['🍖', '🍗', '🧂', '🥗', '🌯']

# reverse() : 리스트에 저장된 데이터를 반대의 순서로 변환
li16.reverse()
print(li16)

['🌯', '🥗', '🧂', '🍗', '🍖']

In [ ]:
li17 = [10, 40, 30, 100, 90, 50]
# sort() : 리스트에 저장된 데이터를 정렬
li17.sort() # 오름차순
print(li17)
li17.sort(reverse=True) # 내림차순
print(li17)

li18 = ['Apple', 'apple', 'orange', 'banana', 'melon']
li18.sort()
print(li18)

[10, 30, 40, 50, 90, 100]
[100, 90, 50, 40, 30, 10]
['Apple', 'apple', 'banana', 'melon', 'orange']

In [ ]:
# count() : 리스트에 포함된 특정 데이터의 갯수를 반환
li19 = [10, 20, 30, 50, 20, 40, 30, 20]

print(li19.count(20)) # 3
print(li19.count(15)) # 0

3
0

In [ ]:
# extend() : 리스트를 확인(리스트에 리스트를 더함)
li20 = [1, 2, 3]

li20.extend([40, 50])
print(li20)

li21 = [1, 2, 3]
li21 = li21 + [40, 50] # li21 += [40, 50]
print(li21)

[1, 2, 3, 40, 50]
[1, 2, 3, 40, 50]