# 1. 튜플(Tuple)

* 튜플은 리스트와 비슷하지만 리스트는 [ ]로 자료를 감싸고, 튜플은 ( )로 감쌈
* 튜플은 수정, 삭제가 불가능

In [ ]:
tu1 = () # 빈 튜플
print(tu1)

# tu1[0] = 10 # 'tuple' object does not support item assignment, 튜플은 수정이 불가능

tu2 = (1)
print(tu2)

tu3 = 1, 2, 3 # ()를 생략해도 됨
print(tu3)

tu4 = ('apple', 'banana', ('😍', '🥰')) # 2차원 데이터는 ()를 더해 출력하면 됨
print(tu4)

()
1
(1, 2, 3)
('apple', 'banana', ('😍', '🥰'))

In [ ]:
print(type(tu4)) # <class 'tuple'>

<class 'tuple'>

# **2. 튜플의 수정 및 삭제**

In [ ]:
tu5 = (1, 2, 'apple', 'banana')
print(tu5)

print(tu5[3])
# tu5[3] = 'orange', 'tuple' object does not support item assignment
# del tu5[3], 'tuple' object doesn't support item deletion
del tu5
# print(tu5), 내부의 요소는 수정하거나 삭제를 못하지만, 튜플 자체는 지울 수 있다.

tu6 = (1, 2, 'apple', 'banana')
print(tu6)
tu6 = 10 # 새로운 값을 넣는 것이므로 이 때는 오류가 발생하지 않음.
print(tu6)

(1, 2, 'apple', 'banana')
banana
(1, 2, 'apple', 'banana')
10

# 3. 튜플의 인덱싱, 슬라이싱, 연산

In [ ]:
# 인덱싱
tu7 = (1, 2, 'apple', 'banana')
print(tu7[0])
print(tu7[-1])

# 슬라이싱
print(tu7[1:])
print(tu7[1:3])

# 덧셈(연결)
tu8 = (30, 40)
print(tu7 + tu8)

# 곱셈(반복)
print(tu8 * 3)

# 요소의 갯수
print(len(tu8))

1
banana
(2, 'apple', 'banana')
(2, 'apple')
(1, 2, 'apple', 'banana', 30, 40)
(30, 40, 30, 40, 30, 40)
2